---
import Icon from "astro-icon";
import Project from "./Project.astro";
import projects from "../../data/projects.json";

const languages = ["html-1", "css-3", "javascript", "react-2", "tailwindcss"];
---

<div id="proyectos"></div>
<section id="projects" class="flex flex-col gap-32">
	<header id="title" class="flex flex-col gap-8 md:mt-14">
		<h2 class="font-extrabold text-5xl sm:text-7xl">Proyectos</h2>

		<section class="flex gap-4 pb-2 items-center">
			{
				languages.map((lang) => (
					<span title={lang}>
						<Icon class="w-7 h-7" name={lang} />
					</span>
				))
			}
		</section>
	</header>

	<article class="flex flex-wrap gap-32 md:gap-40">
		{projects.map((project) => <Project {...project} />)}
	</article>
</section>

<script>
	window
		.ScrollReveal()
		.reveal("#projects", { delay: 300, easing: "ease-in-out" });
</script>
