# astro build
.astro/

# build output
dist/
.output/

# vscode
.vscode/

# dependencies
node_modules/
.npmrc

# eslint
.eslintrc.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# CEJ Project
cej.json

# LinkedIn Profile Images Download
downloadLinkedinProfileImages.js

# Package-lock.json
package-lock.json

# bun lockfile
bun.lockb
