<script>
	const topButton = document.getElementById('topButton')

	if (!topButton) {
		throw new Error('Element with id "topButton" not found')
	}

	window.addEventListener('scroll', () => {
		if (window.scrollY >= 300) {
			topButton.classList.remove('hidden')
			topButton.classList.add('flex')
		} else {
			topButton.classList.add('hidden')
			topButton.classList.remove('flex')
		}
	})
</script>

<a
	id='topButton'
	href='#top'
	class='fixed bottom-0 right-0 items-center justify-center hidden w-12 h-12 m-5 transition-all duration-200 border border-gray-500 rounded-full dark:bg-customBlack/70 hover:scale-110 hover:bg-customBlack/40 backdrop-blur-lg'
	area-label='Ir arriba'
	aria-labelledby='Ir arriba'>
	<svg
		xmlns='http://www.w3.org/2000/svg'
		fill='none'
		viewBox='0 0 24 24'
		stroke-width='1.5'
		stroke='currentColor'
		class='w-6 h-6'>
		<path stroke-linecap='round' stroke-linejoin='round' d='M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18'
		></path>
		<title>Ir arriba</title>
	</svg>
</a>
