<button
	id="hamburger"
	class="hamburger hamburger--spin z-20 relative"
	type="button"
	aria-label="Menú"
>
	<span class="hamburger-box">
		<span class="hamburger-inner"></span>
	</span>
</button>
