---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Página no encontrada" description="404 esta página no existe.">
	<section class="h-screen w-screen flex flex-col gap-6 justify-center items-center">
		<h4 class="text-3xl sm:text-5xl font-bold text-center">404 | Página no encontrada</h4>
		<a class="text-blue-600 text-lg font-extrabold hover:underline" href="/">Ir al inicio</a>
	</section>
</Layout>
