---
import Layout from "../layouts/Layout.astro";

import HeroSection from "../components/HeroSection.astro";
import About from "../components/About.astro";
import Studies from "../components/studies/Studies.astro";
import Projects from "../components/projects/Projects.astro";

import Footer from "../components/Footer.astro";

const title = "Alessandro Rios - Desarrollador Front-End";

const description =
	"Alessandro es desarrollador front end y estudiante de computación e informática, especializado en software y con certificaciones en desarrollo web. Disponible para proyectos freelance.";
---

<Layout title={title} description={description}>
	<div
		class="min-h-screen flex flex-col md:gap-32 px-5 xs:px-10 my-6 sm:px-14 xl:max-w-7xl xl:mx-auto"
	>
		<main class="grow flex flex-col gap-24 mt-36">
			<HeroSection />
			<About />
			<Projects />
			<Studies />
		</main>

		<Footer title={title} description={description} />
	</div>
</Layout>
