---
import Layout from "../layouts/Layout.astro";
import ResourceContainer from "../components/resources/ResourceContainer.astro";
import Footer from "../components/Footer.astro";

import data from "../data/resources.json";
---

<Layout
	title="Recursos para desarrolladores - Alessandro Rios"
	description="Recursos que he utilizado mucho a la hora de desarrollar software. Especialmente desarrollo web."
>
	<div
		class="flex flex-col gap-16 sm:gap-6 justify-center mt-28 mb-6 px-5 xs:px-10 sm:px-14 xl:max-w-7xl xl:mx-auto"
	>
		<header
			class="flex flex-col items-center gap-12 mx-auto max-w-2xl min-h-[90vh] 2xl:min-h-[70vh] justify-center"
		>
			<h1
				class="text-6xl xs:text-7xl md:text-9xl xl:text-11xl font-bold font-inter"
			>
				Recursos
			</h1>
			<p
				class="dark:text-gray-400 text-gray-600 text-lg xl:text-2xl text-center"
			>
				Recursos y herramientas que utilizo a menudo y que recomiendo a otros
				desarrolladores.
			</p>

			<div class="flex flex-col items-center gap-2">
				<a
					href="mailto:dev.alessandro@outlook.com?subject=Quiero%20agregar%20este%20recurso%20a%20alessandrorios.com.&body=Enlace%3A%20%0A%0AT%C3%ADtulo%3A%0A%0ADescripci%C3%B3n%20o%20autor%3A"
					class="px-8 py-4 text-customWhite rounded-full transition-all duration-500 bg-gradient-to-tl to-customBlack via-blue-600 from-blue-400 bg-size-200 bg-pos-0 hover:bg-pos-100"
				>
					¿Quieres agregar uno?
					<br />
				</a>
				<p class="text-sm font-bold">dev.alessandro@hotmail.com</p>
			</div>
		</header>

		<section class="flex flex-col gap-24">
			{
				Object.entries(data).map(([key, value]) => (
					<ResourceContainer resourceList={value}>
						{key.includes("VS Code") ? (
							<>
								Extensiones de
								<a
									rel="noreferrer"
									target="_blank"
									class="hover:text-blue-600 transition-all duration-200"
									href="https://code.visualstudio.com/download"
								>
									VS Code
								</a>
							</>
						) : (
							<>{key}</>
						)}
					</ResourceContainer>
				))
			}
		</section>

		<Footer
			title="Recursos para desarrolladores"
			description="Los canales y sitios web que he consultado desde que empecé a desarrollar aplicaciones."
		/>
	</div>
</Layout>
