---
import Layout from "../layouts/Layout.astro";
import ResourcesHeader from "../components/header/ResourcesHeader.astro";
import ResourceContainer from "../components/resources/ResourceContainer.astro";
import Footer from "../components/Footer.astro";

import data from "../data/resources.json";
---

<script async src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.js"
></script>

<Layout
	title="Recursos para desarrolladores - Alessandro Rios"
	description="Recursos que he utilizado mucho a la hora de desarrollar software. Especialmente desarrollo web."
>
	<div
		class="flex flex-col justify-center mt-28 mb-6 px-5 xs:px-10 sm:px-14 xl:max-w-7xl xl:mx-auto"
	>
		<ResourcesHeader />

		<section class="flex flex-col gap-24 mb-32">
			{
				Object.entries(data).map(([key, value]) => (
					<ResourceContainer resourceList={value}>
						{key.includes("VS Code") ? (
							<>
								Extensiones de
								<a
									rel="noreferrer"
									target="_blank"
									class="hover:text-blue-600 transition-all duration-200"
									href="https://code.visualstudio.com/download"
								>
									VS Code
								</a>
							</>
						) : (
							<>{key}</>
						)}
					</ResourceContainer>
				))
			}
		</section>

		<Footer
			title="Recursos para desarrolladores"
			description="Los canales y sitios web que he consultado desde que empecé a desarrollar aplicaciones."
		/>
	</div>
</Layout>
