---
import '@/css/hamburguer.css'
import MenuMobileToggle from '@/components/buttons/MenuMobileToggle.astro'
import NavigationMobile from './NavigationMobile.astro'
import { Image } from 'astro:assets'
---

<script>
	const btnHamburger = document.getElementById('hamburger')
	const mobileMenu = document.getElementById('mobile-menu')
	const navLinks = document.querySelectorAll('.menu_link')

	if (!btnHamburger || !mobileMenu) {
		throw new Error('No se encontró el botón o el menú')
	}

	btnHamburger.addEventListener('click', () => {
		document.documentElement.classList.toggle('overflow-hidden')
		btnHamburger.classList.toggle('is-active')

		const isActive = btnHamburger.classList.contains('is-active')
		if (isActive) {
			mobileMenu.classList.add('flex')
			mobileMenu.classList.remove('hidden')
		} else {
			mobileMenu.classList.add('hidden')
			mobileMenu.classList.remove('flex')
		}
	})

	navLinks.forEach((link) => {
		link.addEventListener('click', () => {
			document.documentElement.classList.remove('overflow-hidden')
			btnHamburger.classList.remove('is-active')
			mobileMenu.classList.add('hidden')
			mobileMenu.classList.remove('flex')
		})
	})
</script>

<nav
	class='fixed top-0 left-0 right-0 z-50 flex flex-col justify-center px-4 py-2 lg:hidden dark:bg-customBlack/60 bg-customWhite/60 backdrop-blur-xl'>
	<div class='z-50 flex items-end justify-between'>
		<a class='w-20 h-auto mt-1.5' href='/'>
			<Image src='/logo.webp' alt='Logo' width='56' height='56' class='object-cover w-14 h-14' />
		</a>

		<MenuMobileToggle />
	</div>

	<NavigationMobile />
</nav>
