<section class="flex justify-between max-h-screen">
	<article class="w-2/5 pt-8 pb-4 flex flex-col items-start justify-between">
		<p class="text-gray-400 text-lg">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, corporis deleniti distinctio,
			natus eos mollitia nisi error nam architecto tenetur excepturi aperiam quaerat perspiciatis,
			fugiat impedit eius. In, temporibus optio?
			<br />
			<br />
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam eveniet repellat ullam eos at,
			id veritatis, hic, beatae ad quod sequi est perspiciatis quam? Odio nobis recusandae veritatis
			quas deserunt?
		</p>

		<button class="bg-blue-600 px-6 py-3 rounded-sm hover:bg-blue-500 transition-all duration-200"
			>Contáctame</button
		>
	</article>

	<img class="w-1/3 object-contain rounded-sm" src="/images/perfil-completo.jpeg" alt="" />
</section>
