---
import { Image } from 'astro:assets'
import Strong from './text/Strong.astro'

import aboutImage from '@/assets/images/profile-completo.webp'
import { LINKEDIN_URL } from '@/utils/consts'
---

<style>
	html.sr .load-hidden {
		visibility: hidden;
	}
</style>

<div id='sobre-mi'></div>
<div id='about' class='flex flex-col gap-20 sm:gap-16 load-hidden'>
	<section class='flex flex-col justify-between gap-10 md:flex-row'>
		<article class='flex flex-col items-start justify-between w-full gap-10 py-4 md:w-2/5'>
			<div
				class='flex flex-col items-start text-base text-gray-600 gap-7 dark:text-gray-400 sm:text-lg 2xl:text-xl'>
				<p class='ab-paragraph'>
					Apasionado por el aprendizaje, la tecnología y el mundo del desarrollo de software.
					Desarrollo aplicaciones (web o desktop) como
					<Strong>front-end.</Strong>
				</p>

				<p class='ab-paragraph'>
					Comunicativo, responsable, con iniciativa y sobre todo <Strong> perseverante. </Strong>
				</p>

				<p class='ab-paragraph'>
					Me gusta aprender nuevas tecnologías y siempre estoy haciendo <a
						class='font-bold transition-all duration-200 hover:text-blue-600'
						href='#proyectos'>proyectos</a
					> para mejorar mis habilidades.
				</p>

				<p class='ab-paragraph'>
					Utilizo tecnologías web como HTML, CSS, JavaScript, <Strong> React </Strong> y
					<Strong>Next.js</Strong>. Además de Python y <Strong> Java </Strong> para aplicaciones de escritorio.
				</p>

				<p class='ab-paragraph'>
					Como estudiante y compañero siempre estoy dispuesto a
					<Strong>compartir</Strong> mis conocimientos y <Strong>ayudar</Strong>
					a otros. Si tienes alguna duda con un proyecto y está en mis manos ayudarte, no dudes en <a
						class='font-bold underline transition-all duration-200 hover:text-blue-600'
						href='#contacto'>contactarme</a
					>.
				</p>
			</div>

			<a
				id='ab-more2'
				rel='noreferrer'
				target='_blank'
				href={LINKEDIN_URL}
				class='px-8 py-4 text-lg font-bold transition-all duration-200 bg-blue-600 rounded-full text-customWhite hover:bg-blue-800'>
				Más sobre mí
			</a>
		</article>

		<article id='profile_img' class='w-full md:w-2/5 h-dvh/50 md:h-dvh/90 max-h-dvh'>
			<Image
				class='object-cover object-left-bottom w-full h-full rounded-lg'
				src={aboutImage}
				alt='Imagen de perfil de Alessandro Rios'
				quality='max'
				loading='eager'
			/>
		</article>
	</section>
</div>

<script>
	window.ScrollReveal().reveal('#about', { delay: 200, easing: 'ease-in-out' })
	window.ScrollReveal().reveal('#profile-img', { delay: 200, easing: 'ease-in-out' })
	window.ScrollReveal().reveal('.ab-paragraph', { delay: 200, easing: 'ease-in-out' })
	window.ScrollReveal().reveal('#ab-more1', { delay: 200, easing: 'ease-in-out' })
	window.ScrollReveal().reveal('#ab-more2', { delay: 200, easing: 'ease-in-out' })
</script>
