---
import Strong from "./text/Strong.astro";
---

<div id="sobre-mi"></div>
<div id="about" class="flex flex-col gap-20 sm:gap-16">
	<section class="flex flex-col md:flex-row gap-10 justify-between">
		<article
			class="w-full md:w-2/5 py-4 flex flex-col items-start justify-between gap-10"
		>
			<div
				class="flex flex-col gap-7 items-start text-gray-500 dark:text-gray-400 text-base sm:text-lg 2xl:text-xl"
			>
				<p>
					Apasionado por el aprendizaje, la tecnología y el mundo del desarrollo
					de software. Me especializo en la programación de aplicaciones (web o
					desktop) como
					<Strong>front end.</Strong>
				</p>

				<p>
					Utilizo tecnologías como HTML, CSS, Javascript y <Strong>React</Strong
					> para web. Y Python, <Strong>Java</Strong> (aprendiendo actualmente) o
					Electron para aplicaciones de escritorio.
				</p>

				<p>
					Me gusta aprender nuevas tecnologías y siempre estoy haciendo <a
						class="hover:text-blue-600 font-semibold transition-all duration-200"
						href="#proyectos">proyectos</a
					> para mejorar mis habilidades.
				</p>

				<p>
					Como estudiante y compañero siempre estoy dispuesto a
					<Strong>compartir</Strong> mis conocimientos y <Strong>ayudar</Strong>
					a otros. Si tienes alguna duda con un proyecto y está en mis manos ayudarte,
					no dudes en <a
						class="hover:text-blue-600 font-semibold transition-all duration-200"
						href="#contacto">contactarme</a
					>.
				</p>

				<p>
					Actualmente estoy disponible para el rol de desarrollador web front
					end o para colaborar en proyectos freelance.
				</p>

				<p>
					Me defino como una persona comunicativa, responsable, con iniciativa y
					sobre todo <Strong>perseverante.</Strong>
				</p>
			</div>

			<a
				rel="noreferrer"
				target="_blank"
				href="https://linkedin.com/in/alessandro-rios"
				class="px-10 py-5 text-2xl font-semibold rounded-full text-customWhite bg-blue-600 transition-all duration-200 hover:bg-blue-800 hidden 2xl:flex"
			>
				Más sobre mí
			</a>
		</article>

		<article class="w-full md:w-2/5 h-screen/50 md:h-screen/90">
			<img
				class="w-full h-full object-cover rounded-lg object-top"
				src="/images/perfil-completo.webp"
				alt="Imagen de perfil de Alessandro Rios"
			/>
		</article>
	</section>

	<footer class="2xl:hidden flex justify-center sm:justify-start">
		<a
			rel="noreferrer"
			target="_blank"
			href="https://linkedin.com/in/alessandro-rios"
			class="px-8 py-4 text-lg font-semibold rounded-full text-customWhite bg-blue-600 transition-all duration-200 hover:bg-blue-800"
		>
			Más sobre mí
		</a>
	</footer>
</div>
