---
import Strong from "./text/Strong.astro";
---

<div id="sobre-mi"></div>
<div id="about" class="flex flex-col gap-16">
	<section class="flex flex-col md:flex-row gap-10 justify-between">
		<article class="w-full md:w-2/5 py-4">
			<div
				class="flex flex-col gap-7 items-start text-gray-500 dark:text-gray-400 text-sm sm:text-lg"
			>
				<p>
					Me encuentro estudiando la carrera de Computación e Informática en el
					Instituto
					<Strong>Cibertec.</Strong>
					También desarrollo proyectos individuales y colaboro en proyectos grupales
					como
					<Strong>front end</Strong>
					programando aplicaciones
					<Strong>web.</Strong>
				</p>

				<p>
					Me especializo en el desarrollo de interfaces, enfocadas en la
					experiencia de usuario. <br /> Utilizo tecnologías como HTML, CSS, Javascript
					y
					<Strong>React.</Strong>
					<br /> Sin embargo, también he desarrollado otro tipo de software como
					extensiones de navegador y aplicaciones de escritorio.
				</p>

				<p>
					Actualmente estoy disponible para el rol de desarrollador web frontend
					o para colaborar en proyectos freelance.
				</p>

				<p>
					Nunca dejo de capacitarme, soy apasionado por el aprendizaje, la
					tecnología y el mundo del desarrollo de software. Me defino como una
					persona <Strong>comunicativa</Strong>,
					<Strong>responsable,</Strong> con
					<Strong>iniciativa</Strong> y sobre todo muy
					<Strong>perseverante.</Strong>
				</p>
			</div>
		</article>

		<article class="w-full md:w-2/5 h-screen/50 md:h-screen/90">
			<img
				class="w-full h-full object-cover rounded-lg object-top"
				src="/images/perfil-completo.webp"
				alt="Imagen de perfil de Alessandro Rios"
			/>
		</article>
	</section>

	<footer>
		<a
			rel="noreferrer"
			target="_blank"
			href="https://linkedin.com/in/alessandro-rios"
			class="px-8 py-3 text-lg font-semibold rounded-full text-customWhite bg-blue-600 transition-all duration-200 hover:bg-blue-800"
		>
			Más sobre mí
		</a>
	</footer>
</div>
