---
import FooterAside from "./footer/FooterAside.astro";
import FooterLinks from "./footer/FooterLinks.astro";
import WriteMe from "./WriteMe.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;

const actualYear = new Date().getFullYear();
---

<footer
	id="contacto"
	class="flex flex-col justify-between gap-32 min-h-[75vh] 2xl:min-h-[50vh]"
>
	<div class="hidden sm:flex mb-52">
		<WriteMe />
	</div>

	<section class="flex flex-col md:flex-row gap-16 md:gap-0 justify-between">
		<FooterAside description={description} />

		<FooterLinks />
	</section>

	<div class="flex justify-center">
		<p class="text-gray-400 text-center">
			&copy; {actualYear} - {title}
		</p>
	</div>
</footer>

<script is:inline>
	window
		.ScrollReveal()
		.reveal("#contacto", { delay: 300, easing: "ease-in-out" });
</script>
