---
import '@/css/hamburguer.css'

import { Image } from 'astro:assets'
import ThemeToggle from './buttons/ThemeToggle.astro'
import MenuMobileToggle from './buttons/MenuMobileToggle.astro'
import NavigationMobile from './header/NavigationMobile.astro'

const navigation = [
	{
		name: 'Sobre mí',
		href: '/#sobre-mi'
	},
	{
		name: 'Proyectos',
		href: '/#proyectos'
	},
	/* 	{
		name: 'Estudios',
		href: '/#estudios'
	}, */
	{
		name: 'Recursos',
		href: '/recursos'
	},
	{
		name: 'Recomendaciones',
		href: '/#recomendaciones'
	},
	{
		name: 'Contacto',
		href: '#contacto'
	}
]
---

<script>
	const btnHamburger = document.getElementById('hamburger')
	const mobileMenu = document.getElementById('mobile-menu')
	const navLinks = document.querySelectorAll('.menu_link')

	if (btnHamburger && mobileMenu) {
		btnHamburger.addEventListener('click', () => {
			document.documentElement.classList.toggle('overflow-hidden')
			btnHamburger.classList.toggle('is-active')

			const isActive = btnHamburger.classList.contains('is-active')
			if (isActive) {
				mobileMenu.classList.add('flex')
				mobileMenu.classList.remove('hidden')
			} else {
				mobileMenu.classList.add('hidden')
				mobileMenu.classList.remove('flex')
			}
		})

		navLinks.forEach((link) => {
			link.addEventListener('click', () => {
				document.documentElement.classList.remove('overflow-hidden')
				btnHamburger.classList.remove('is-active')
				mobileMenu.classList.add('hidden')
				mobileMenu.classList.remove('flex')
			})
		})
	}
</script>

<div id='top'></div>

<header
	class='fixed top-0 left-0 right-0 z-50 flex items-end justify-between w-full px-5 transition-all duration-200 dark:bg-customBlack/70 bg-customWhite/70 backdrop-blur-lg xs:px-8 sm:px-12 lg:px-16 xl:max-w-7xl xl:mx-auto sm:py-4'>
	<nav id='navigation' class='flex items-end justify-between w-full gap-10 py-2'>
		<div class='flex items-end justify-start gap-10'>
			<a
				class='z-20 transition-all hover:scale-110 duraiton-200'
				aria-label='Inicio'
				title='Alessandro Rios'
				href='/'>
				<Image
					class='object-cover w-14 h-14 lg:w-10 lg:h-10'
					width={40}
					height={40}
					src='/logo.webp'
					alt='Logo'
					loading='eager'
				/>
			</a>

			<ul class='hidden text-gray-600 lg:flex gap-11 dark:text-gray-400 text-nav 2xl:text-lg'>
				{
					navigation.map(({ name, href }) => (
						<li>
							<a class='font-extrabold transition-all duration-200 hover:text-blue-600' href={href}>
								{name}
							</a>
						</li>
					))
				}
			</ul>
		</div>

		<section class='flex items-center gap-8'>
			<ThemeToggle />

			<div class='lg:hidden'>
				<MenuMobileToggle />
				<NavigationMobile />
			</div>
		</section>
	</nav>
</header>
