---
import ThemeToggle from './buttons/ThemeToggle'
import HeaderMobile from './HeaderMobile.astro'
---

<header
	class="fixed hidden dark:bg-customBlack/60 bg-customWhite/60 transition-all duration-200 backdrop-blur-lg w-full md:px-16 md:py-4 top-0 right-0 left-0 xl:max-w-7xl xl:mx-auto md:flex justify-between items-center">
	<nav class="flex gap-10 justify-between md:justify-start items-center">
		<a href="/">
			<img
				class="w-6 h-6 object-top rounded-full object-cover 2xl:h-8 2xl:w-8"
				src="/images/profile.webp"
				alt="logo"
				class="w-32"
			/>
		</a>

		<ul class="flex gap-12 text-gray-500 text-nav 2xl:text-lg">
			<li class="hover:text-blue-600 font-extrabold transition-all duration-200">
				<a href="#proyectos">Proyectos</a>
			</li>
			<li class="hover:text-blue-600 font-extrabold transition-all duration-200">
				<a href="#sobre-mi">Sobre mí</a>
			</li>
			<li class="hover:text-blue-600 font-extrabold transition-all duration-200">
				<a href="#proyectos">Experiencia</a>
			</li>
			<li class="hover:text-blue-600 font-extrabold transition-all duration-200">
				<a href="#contacto">Contacto</a>
			</li>
		</ul>
	</nav>

	<ThemeToggle client:idle />
</header>

<HeaderMobile />
