<header>
  <nav class="flex gap-16 items-center">
    <img class="bg-white w-6 rounded-full h-6" src="/favicon.svg" alt="" />

    <ul class="flex gap-8 text-gray-400">
      <li class="hover:text-blue-600 transition-all duration-200">
        <a href="#">Home</a>
      </li>
      <li class="hover:text-blue-600 transition-all duration-200">
        <a href="#">About</a>
      </li>
      <li class="hover:text-blue-600 transition-all duration-200">
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
</header>
