---
import ThemeToggle from './buttons/ThemeToggle'
import NavToggle from './buttons/NavToggle'
---

<nav class="flex flex-col justify-center md:hidden">
	<div class="flex items-center justify-between z-50">
		<a href="/">
			<img class="w-8 h-8 rounded-full object-cover" src="/favicon.webp" alt="" />
		</a>

		<article class="flex gap-6 items-center">
			<ThemeToggle client:idle />
			<NavToggle client:idle />
		</article>
	</div>

	<ul
		id="mobile-menu"
		class="flex opacity-0 transition-all duration-300 ease-in-out flex-col h-screen z-40 fixed inset-0 p-8 bg-customWhite dark:bg-customBlack backdrop-blur-2xl items-center gap-16 grow justify-center text-4xl text-current font-extrabold">
		<li class="hover:text-blue-600 transition-all duration-200">
			<a href="#">Inicio</a>
		</li>
		<li class="hover:text-blue-600 transition-all duration-200">
			<a href="#">Proyectos</a>
		</li>
		<li class="hover:text-blue-600 transition-all duration-200">
			<a href="#">Sobre mí</a>
		</li>
		<li class="hover:text-blue-600 transition-all duration-200">
			<a href="#">Contacto</a>
		</li>
	</ul>
</nav>
