---
import ThemeToggle from "./buttons/ThemeToggle";
import HeaderMobile from "./header/HeaderMobile";
---

<header
	class="fixed hidden z-50 dark:bg-customBlack/70 bg-customWhite/70 transition-all duration-200 backdrop-blur-lg w-full px-16 top-0 right-0 left-0 xl:max-w-7xl xl:mx-auto md:flex justify-between items-end py-4"
>
	<nav
		class="flex gap-10 mb-1 lg:mb-2 items-end justify-between md:justify-start"
	>
		<a
			class="hover:scale-110 transition-all duraiton-200"
			aria-label="Inicio"
			title="Alessandro Rios"
			href="/"
		>
			<img class="w-10 h-10 object-cover" src="/logo.webp" alt="" />
		</a>

		<ul
			class="flex gap-11 text-gray-500 dark:text-gray-400 text-nav 2xl:text-lg"
		>
			<a
				class="hover:text-blue-600 font-extrabold transition-all duration-200"
				href="/#sobre-mi"
			>
				Sobre mí
			</a>
			<a
				class="hover:text-blue-600 font-extrabold transition-all duration-200"
				href="/#proyectos"
			>
				Proyectos
			</a>
			<a
				class="hover:text-blue-600 font-extrabold transition-all duration-200"
				href="/#estudios"
			>
				Estudios
			</a>
			<a
				class="hover:text-blue-600 font-extrabold transition-all duration-200"
				href="/recursos"
			>
				Recursos
			</a>
			<a
				class="hover:text-blue-600 font-extrabold transition-all duration-200"
				href="#contacto"
			>
				Contacto
			</a>
		</ul>
	</nav>

	<ThemeToggle client:idle />
</header>

<HeaderMobile client:load />
