<header>
	<nav class="flex gap-8 items-center">
		<a href="/">
			<img
				class="w-7 h-7 rounded-full object-cover"
				src="/images/profile.webp"
				alt="logo"
				class="w-32"
			/>
		</a>

		<ul class="flex gap-8 text-gray-500">
			<li class="hover:text-blue-600 font-extrabold transition-all duration-200">
				<a href="#proyectos">Proyectos</a>
			</li>
			<li class="hover:text-blue-600 font-extrabold transition-all duration-200">
				<a href="#sobre-mi">Sobre mí</a>
			</li>
			<li class="hover:text-blue-600 font-extrabold transition-all duration-200">
				<a href="#proyectos">Experiencia</a>
			</li>
			<li class="hover:text-blue-600 font-extrabold transition-all duration-200">
				<a href="#contacto">Contacto</a>
			</li>
		</ul>
	</nav>
</header>
