---
import Icon from "astro-icon";

const heroTitle =
	"Soy Alessandro Rios desarrollador front- end especializado en React.";

const heroWords = heroTitle.split(" ");

const heroLetters = heroWords.map((word) => word.split(""));
---

<section
	id="hero"
	class="flex flex-col gap-10 max-w-4xl 2xl:max-w-5xl justify-center"
>
	<h1
		class="flex flex-wrap gap-x-[18px] text-4xl xs:text-5xl sm:text-7xl md:text-7.5xl 2xl:text-8xl font-bold font-inter !leading-min"
	>
		{
			heroLetters.map((word) => (
				<span class="hidden sm:flex">
					{word.map((letter) => (
						<span class="hover:text-transparent bg-gradient-to-br bg-clip-text from-blue-500 to-blue-800 transition-all duration-150">
							{letter}
						</span>
					))}
				</span>
			))
		}

		<span class="sm:hidden">{heroTitle}</span>
	</h1>

	<article class="flex gap-8 items-center">
		<a
			rel="noreferrer"
			target="_blank"
			href="https://linkedin.com/in/alessandro-rios"
			aria-label="LinkedIn"
		>
			<Icon
				class="text-gray-600 hover:text-blue-600 transition-all duration-200 w-8 h-8"
				name="linkedin"
			/>
		</a>

		<a
			rel="noreferrer"
			target="_blank"
			href="https://github.com/dalessandro07"
			arial-label="Github"
		>
			<Icon
				class="text-gray-600 hover:text-blue-600 transition-all duration-200 w-8 h-8"
				name="github"
			/>
		</a>

		<a
			rel="noreferrer"
			target="_blank"
			href="https://twitter.com/alessandro___r"
			aria-label="Twitter"
		>
			<Icon
				class="text-gray-600 hover:text-blue-600 transition-all duration-200 w-8 h-8"
				name="twitter"
			/>
		</a>
	</article>
</section>

<script is:inline>
	window.ScrollReveal().reveal("#hero", {
		delay: 500,
		easing: "ease-in-out",
		opacity: 0,
		distance: "5px",
	});
</script>
