---
import Icon from "astro-icon";

const heroTitle =
	"Soy Alessandro Rios desarrollador front- end especializado en React.";
const heroTitleSM =
	"Soy Alessandro Rios desarrollador front-end especializado en React.";

const heroWords = heroTitle.split(" ");
const heroLetters = heroWords.map((word) => word.split(""));
---

<style>
	html.sr .load-hidden {
		visibility: hidden;
	}
</style>

<section
	id="hero"
	class="flex flex-col gap-10 max-w-4xl 2xl:max-w-5xl justify-center load-hidden"
>
	<h1
		class="flex flex-wrap gap-x-[18px] text-4xl xs:text-5xl sm:text-6xl md:text-7xl lg:text-7.5xl 2xl:text-8xl font-bold font-inter !leading-min hover:cursor-default"
	>
		{
			heroLetters.map((word) => (
				<span class="hidden lg:flex">
					{word.map((letter) => (
						<span class="letter hover:text-transparent bg-gradient-to-br bg-clip-text [-webkit-background-clip:text] from-blue-500 to-blue-800 transition-all duration-150">
							{letter}
						</span>
					))}
				</span>
			))
		}

		<span class="lg:hidden" style="text-wrap: balance;">{heroTitleSM}</span>
	</h1>

	<article class="flex gap-8 items-center">
		<a
			rel="noreferrer"
			target="_blank"
			href="https://linkedin.com/in/alessandro-rios"
			aria-label="LinkedIn"
			aria-labelledby="LinkedIn"
		>
			<Icon
				class="text-gray-600 hover:text-blue-600 hover:rotate-[360deg] transition-all duration-500 w-8 h-8"
				name="linkedin"
			/>
			<span class="sr-only">LinkedIn</span>
		</a>

		<a
			rel="noreferrer"
			target="_blank"
			href="https://github.com/dalessandro07"
			arial-label="Github"
			arial-labelledby="Github"
		>
			<Icon
				class="text-gray-600 hover:text-blue-600 hover:rotate-[360deg] transition-all duration-500 w-8 h-8"
				name="github"
			/>
			<span class="sr-only">Github</span>
		</a>

		<a
			rel="noreferrer"
			target="_blank"
			href="https://twitter.com/alessandro___r"
			aria-label="Twitter"
			arial-labelledby="Twitter"
		>
			<Icon
				class="text-gray-600 hover:text-blue-600 hover:rotate-[360deg] transition-all duration-500 w-8 h-8"
				name="twitter"
			/>
			<span class="sr-only">Twitter</span>
		</a>
	</article>
</section>

<script>
	window.ScrollReveal().reveal("#hero", {
		delay: 200,
		easing: "ease-in-out",
		opacity: 0,
		distance: "5px",
	});
</script>
