---
import { Icon } from "astro-icon";
---

<div class="overflow-hidden">
	<section class="flex flex-col gap-10 max-w-4xl justify-center">
		<h1
			class="text-4xl xs:text-5xl sm:text-7xl md:text-7.5xl font-bold font-poppins !leading-min"
		>
			Soy Alessandro Rios desarrollador front end y estudiante de informática.
		</h1>

		<article class="flex gap-8 items-center">
			<a
				rel="noreferrer"
				target="_blank"
				href="https://linkedin.com/in/alessandro-rios"
				aria-label="LinkedIn"
			>
				<Icon
					class="text-gray-500 hover:text-blue-600 transition-all duration-200 w-8 h-8"
					name="linkedin"
				/>
			</a>

			<a
				rel="noreferrer"
				target="_blank"
				href="https://github.com/dalessandro07"
				arial-label="Github"
			>
				<Icon
					class="text-gray-500 hover:text-blue-600 transition-all duration-200 w-8 h-8"
					name="github"
				/>
			</a>

			<a
				rel="noreferrer"
				target="_blank"
				href="https://twitter.com/alessandro___r"
				aria-label="Twitter"
			>
				<Icon
					class="text-gray-500 hover:text-blue-600 transition-all duration-200 w-8 h-8"
					name="twitter"
				/>
			</a>
		</article>
	</section>
</div>
