---
import Icon from "astro-icon";
---

<div class="h-1/3 md:h-52 overflow-hidden absolute left-0 right-0">
	<video class="min-w-full rotate-180" autoplay muted loop>
		<source src="/videos/bg.mp4" type="video/mp4" />
	</video>
</div>

<div
	class="absolute left-0 right-0 py-16 px-6 lg:px-12 flex flex-wrap gap-y-12 justify-center md:justify-between items-center z-20 mt-2 text-white gap-x-8"
>
	<p class="text-6xl font-semibold">¡Escríbeme!</p>

	<a
		href="mailto:dev.alessandro@outlook.com?body=Hola%20Alessandro%2C"
		class="font-extrabold flex gap-2 items-center hover:bg-blue-800 transition-all duration-200 bg-customBlack rounded-lg px-8 text-lg py-4"
	>
		<Icon class="w-6 h-6 group-hover:text-blue-600" name="mail" />
		dev.alessandro@outlook.com
	</a>
</div>
