---
const links = [
	{
		title: "LinkedIn",
		url: "https://linkedin.com/in/alessandro-rios",
	},
	{
		title: "GitHub",
		url: "https://github.com/dalessandro07",
	},
	{
		title: "Twitter",
		url: "https://twitter.com/alessandro___r",
	},
];
---

<article class="flex flex-col gap-4 sm:w-2/6 md:pt-16">
	<p class="text-xl text-gray-600 dark:text-gray-400 font-bold">
		Enlaces de contacto
	</p>

	<ul
		class="flex flex-col gap-2 text-lg text-customBlack dark:text-customWhite font-bold"
	>
		{
			links.map(({ title, url }) => (
				<li class="w-max">
					<a
						class="hover:text-blue-600 hover:underline transition-all duration-200"
						rel="noreferrer"
						target="_blank"
						href={url}
					>
						{title}
					</a>
				</li>
			))
		}
	</ul>
</article>
