---
import { GITHUB_URL, INSTAGRAM_URL, LINKEDIN_URL, WHATSAPP_URL } from '@/utils/consts'

const links = [
	{
		title: 'Instagram',
		url: INSTAGRAM_URL
	},
	{
		title: 'WhatsApp',
		url: WHATSAPP_URL
	},
	{
		title: 'LinkedIn',
		url: LINKEDIN_URL
	},
	{
		title: 'GitHub',
		url: GITHUB_URL
	}
]
---

<article class='flex flex-col gap-4 sm:w-2/6 md:pt-16'>
	<p class='text-xl font-bold text-gray-600 dark:text-gray-400'>Enlaces de contacto</p>

	<ul class='flex flex-col gap-2 text-lg font-bold text-customBlack dark:text-customWhite'>
		{
			links.map(({ title, url }) => (
				<li class='w-max'>
					<a
						class='transition-all duration-200 hover:text-blue-600 hover:underline'
						rel='noreferrer'
						target='_blank'
						href={url}>
						{title}
					</a>
				</li>
			))
		}
	</ul>
</article>
