---
import { EMAIL_ADDRESS, EMAIL_URL, LINKEDIN_URL } from '@/utils/consts'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

interface Props {
	description: string
}

const { description } = Astro.props as Props
---

<aside class='flex flex-col gap-6'>
	<a aria-label='LinkedIn de Alessandro Rios' rel='noreferrer' target='_blank' href={LINKEDIN_URL}>
		<Image
			title='Alessandro Rios'
			class='object-cover w-12 h-12 rounded-full'
			src='/favicon.webp'
			alt='Imagen de perfil de Alessandro Rios - Programador'
			width='48'
			height='48'
		/>
	</a>

	<p class='max-w-md text-gray-600 dark:text-gray-400'>
		{description}
	</p>

	<a
		href={EMAIL_URL}
		class='flex items-center gap-2 font-extrabold transition-all duration-200 hover:text-blue-600 w-max'>
		<Icon class='w-6 h-6 group-hover:text-blue-600' name='mail' />
		{EMAIL_ADDRESS}
	</a>

	<form
		id='message-form'
		class='flex flex-col gap-4'
		name='contact'
		method='POST'
		data-netlify='true'>
		<div class='flex flex-col gap-1'>
			<label for='name' class='text-sm text-gray-600 dark:text-gray-400'>
				<span>Tu nombre: </span>
			</label>
			<input
				required
				placeholder='Diego Rios'
				type='text'
				name='name'
				id='name'
				class='p-2 border border-gray-300 rounded-md dark:border-gray-700'
			/>
		</div>

		<div class='flex flex-col gap-1'>
			<label for='message' class='text-sm text-gray-600 dark:text-gray-400'>
				<span>Escribe un mensaje:</span>
			</label>

			<textarea
				required
				placeholder='Deja un correo o teléfono para poder responderte. 😉'
				name='message'
				id='message'
				class='p-2 border border-gray-300 rounded-md resize-y max-h-48 min-h-32 dark:border-gray-700'
			></textarea>
			<span class='text-xs text-gray-500 dark:text-gray-400'>
				* Tu mensaje será enviado a mi correo personal.
			</span>
		</div>

		<button
			id='submitBtn'
			type='submit'
			class='px-4 py-2 font-bold text-white transition-colors bg-blue-600 rounded hover:bg-blue-800 disabled:bg-gray-600'>
			Enviar mensaje 🚀
		</button>
	</form>
</aside>

<script src='https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js'
></script>

<script type='module' is:inline>
	const $form = document.getElementById('message-form')
	const $submitBtn = document.getElementById('submitBtn')

	$form?.addEventListener('submit', async (event) => {
		event.preventDefault()
		if (!event.currentTarget) return

		$submitBtn.textContent = 'Enviando mensaje...'

		const formData = new FormData(event.currentTarget)

		const name = formData.get('name')
		const message = formData.get('message')

		if (!name || !message) {
			alert('Por favor, llena todos los campos.')
			return
		}

		function isValidMessage(message) {
			const emailRegex = /\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b/
			const phoneRegex =
				/(\d{3}[-.\s]??\d{3}[-.\s]??\d{4}|\(\d{3}\)\s*\d{3}[-.\s]??\d{4}|\d{3}[-.\s]??\d{4})/

			const formattedMessage = message.replace(/\s/g, '')

			return emailRegex.test(formattedMessage) || phoneRegex.test(formattedMessage)
		}

		if (!isValidMessage(message)) {
			alert('Por favor, deja un correo o teléfono para poder responderte.')
			return
		}

		// Enviar mensaje
		const response = await fetch('/', {
			method: 'POST',
			headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
			body: new URLSearchParams(formData).toString()
		})

		if (response.ok) {
			$submitBtn.textContent = '¡Mensaje enviado! 🎉'
			$submitBtn.setAttribute('disabled', 'true')

			window.confetti({
				particleCount: 200,
				spread: 120,
				origin: { y: 0.5 }
			})

			setTimeout(() => {
				$submitBtn.removeAttribute('disabled')
				$submitBtn.textContent = 'Enviar mensaje 🚀'
			}, 3000)

			$form.reset()
		} else {
			alert('Ocurrió un error al enviar el mensaje. 😢')
		}
	})
</script>
