---
import { EMAIL_ADDRESS, EMAIL_URL, LINKEDIN_URL } from '@/utils/consts'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

interface Props {
	description: string
}

const { description } = Astro.props as Props
---

<aside class='flex flex-col gap-6'>
	<a aria-label='LinkedIn de Alessandro Rios' rel='noreferrer' target='_blank' href={LINKEDIN_URL}>
		<Image
			title='Alessandro Rios'
			class='object-cover w-12 h-12 rounded-full'
			src='/favicon.webp'
			alt='Imagen de perfil de Alessandro Rios - Programador'
			width='48'
			height='48'
		/>
	</a>

	<p class='max-w-md text-gray-600 dark:text-gray-400'>
		{description}
	</p>

	<a
		href={EMAIL_URL}
		class='flex items-center gap-2 font-extrabold transition-all duration-200 hover:text-blue-600 w-max'>
		<Icon class='w-6 h-6 group-hover:text-blue-600' name='mail' />
		{EMAIL_ADDRESS}
	</a>
</aside>
