---
import Resource from "./Resource.astro";

interface Channel {
	url: string;
	title: string;
	desc: string;
	lang?: string;
}

interface Props {
	resourceList: Channel[];
}

const { resourceList } = Astro.props as Props;
---

<article class="flex flex-col gap-12">
	<h3
		id="resource-title"
		class="text-3xl font-bold pb-2 border-b dark:border-gray-600 border-gray-300"
	>
		<slot />
	</h3>

	<section class="flex flex-wrap gap-x-2 sm:gap-x-0 gap-y-10 justify-between">
		{
			resourceList.map((resource) => (
				<Resource
					url={resource.url}
					title={resource.title}
					desc={resource.desc}
					lang={resource.lang}
				/>
			))
		}
	</section>
</article>
