---
interface Props {
	url: string;
	title: string;
	desc: string;
	lang?: string;
}

const { url, title, desc, lang } = Astro.props as Props;
---

<div
	id="resource-item"
	class="flex break-words flex-col gap-3 w-ful sm:w-1/2 pl-1 sm:pr-12"
>
	<a
		href={url}
		target="_blank"
		rel="noreferrer"
		class="text hover:text-blue-600 transition-all duration-200 font-bold"
	>
		{title}
	</a>

	<div
		id="description"
		class="flex gap-2 text-sm text-gray-600 dark:text-gray-400"
	>
		{lang && <p>({lang})</p>}
		<p class="w-11/12 sm:w-4/5">{desc}</p>
	</div>
</div>
