---
import ListOfRecommendations from "./ListOfRecommendations";
---

<div id="recomendaciones"></div>

<section
	class="flex flex-col gap-16 mb-20 md:mb-0"
	id="container-recommendations"
>
	<header class="flex flex-col gap-4 md:gap-8 md:mt-14">
		<h2 class="font-extrabold text-4xl sm:text-7xl">Recomendaciones</h2>
		<a
			class="text-blue-500 hover:underline pl-1.5"
			target="_blank"
			href="https://www.linkedin.com/in/alessandro-rios/details/recommendations"
		>
			Ver en LinkedIn
		</a>
	</header>

	<ListOfRecommendations client:visible />
</section>

<script>
	window.ScrollReveal().reveal("#container-recommendations", {
		delay: 200,
		easing: "ease-in-out",
	});
</script>
